body{
  font-size: 13px;
}

.container{
  width: 60rem;
  height: 20rem;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 40% 60%;
}

.left-drawers{
  grid-row: 1/ span 1;
  grid-column: 1/ span 1;
}

.left-drawers img{
  display:cover;
  width: 100%;
}

.right-text{
  grid-row: 1/ span 1;
  grid-column: 2/ span 1;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.social_link{
  display: flex;
  justify-content: space-around;
}

.name{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 1rem;
}

#avatar{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.arrow{
  width: 2rem;
  height: 2rem;
  position: relative;
  top: 2rem;
}

#share{
  width: 100%;
  height: auto;
  display: cover;
}

/*text*/

h1, h2, h3 {
  font-family: "Manrope";
  color: hsl(217, 19%, 35%);
}

h1{

}

p{
  color: hsl(214, 17%, 51%);
}

h3{
  color: hsl(212, 23%, 69%);
}
